<mat-accordion class="headers-align" multi>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="container d-flex justify-content-between mx-2">
        <mat-panel-title class="fs-5 fw-normal">
          {{contato?.nome}}
        </mat-panel-title>
        <mat-panel-description class="fs-5 fw-normal">
          {{contato?.telefone}}
        </mat-panel-description>
        <mat-icon color="primary">account_circle</mat-icon>
      </div>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>
    <div class="container mt-3  ">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-sm-12 text-center  pb-4">
          <h4 class="text-primary fs-5 mb-0">Empresa</h4>
          <span class="fs-6">{{contato?.empresa}}</span>
        </div>
        <div class="col-lg-6 col-sm-12 text-center  pb-4">
          <h4 class="text-primary fs-5 mb-0">Cargo</h4>
          <span class="fs-6">{{contato?.cargo}}</span>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="container mt-3 d-flex justify-content-around">

      <button (click)="favoritar(contato!)"
        matTooltip="{{ favorito ? 'Remover dos Favoritos' : 'Adicionar aos Favoritos' }}" mat-icon-button
        color="{{favorito? 'warn':'basic'}}">
        <mat-icon>favorite</mat-icon>
      </button>

      <button (click)="editar(contato!)" matTooltip="Editar" mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>

      <button (click)="detalhes(contato!)" matTooltip="Detalhes" mat-icon-button color="primary">
        <mat-icon>details</mat-icon>
      </button>

      <button (click)="excluir(contato!)" matTooltip="Excluir" mat-icon-button color="primary">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </mat-expansion-panel>
</mat-accordion>
